@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    mask: radial-gradient(28px at 40px 40px,#0000 98%,#000) -40px -40px;
  }

